* {
  box-sizing: border-box;
}

.navbar {
  background-color: #CED2C3;
  padding: 0px;
  border-bottom: 1px solid black;
}

.navbar-brand {
  color: black;
}

.nav-item {
  color: black;

}

.nav-align {
  margin: 0;
  width: 100%;
  padding: 0 10px
}

body {
  background-image: url(../Images/background.jpg);
  font-family: "Maven Pro", sans-serif;
}

main {
  border: 2px solid #B3BAAA;
  background-color: #D0D7C7;
  margin: 30px;
}

.about-img {
  width: 150px;
  height: 150px;
}

.margin {
  margin-top: 30px;
  margin-bottom: 50px;
}

.larger-margin {
  margin-top: 30px;
  margin-bottom: 60px;
}

.index-header-margin {
  margin-top: 30px;
}

.pdf-img {
  height: 40px;
  margin: 0px 40px;
}

.resume-element {
  text-align: right;
  margin: 0;
  font-size: 12px;
}

.footer-name-info {
  margin: 0px;
  font-size 16px;
}

.footer-info {
  margin: 0px;
  font-size: 12px;
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #CED2C3;
  height: 75px;
  color: black;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid black;
}

.portfolio-pics {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.margin-w-padding {
  margin: 0px 30px 20px 30px;
  padding: 0px 60px;
}

.relative {
  position: relative;
}

.border-under {
  border-bottom: 3px solid grey;
}

h4 {
  text-align: center;
}

.label {
  position: absolute;
  top: 65%;
  width: 200px;
  padding: 5px;
  background-color: lightcyan;
  color: black;
}
