
* {
    box-sizing: border-box;
}

.navbar {
    background-color: lightcyan;
}

.navbar-brand {
    color: black;
}

.nav-item {
    color: black;
}

body {
    background-color: lightblue;
    font-family: 'Maven Pro', sans-serif;
    
    }
main {
    border: 2px solid lightcyan;
    background-color: lightyellow;
}


.about-img {
width: 150px;
height: 150px;
}

.margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.larger-margin {
    margin-top: 30px;
    margin-bottom: 60px;
}

footer {
    background-color: lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.portfolio-pics {
    height: 200px;
    width: 200px;
} 

.border-under {
    border-bottom: 3px solid grey;
}

.centerimg {
    text-align: center;
    align-items: center;
}

